.btn {
	border-radius: 20px;
	padding: .6rem 1.6rem;
}

.btn--outline {
	border: 1px solid;
}

.btn-icon {
	height: 20px;
  position: relative;
  top: 3px;
  left: -6px;
}

.primary-btn {
	extend: .btn, .bg-red, .white;
}
