@import 'normalize.css';
@import 'basscss';
@import './components/grid-list';
@import './components/window';
@import './components/button';
@import './components/form';
@import './components/code';
@import './colors';
@import './utils';

:root {
	--font-family: 'europa', 'Helvetica Neue', Helvetica, sans-serif;
	--code-font-family: Monaco, Console, monospace;
	--body-font-size: 1.8em;

	--h1: 2.4rem;
	--h2: 2.2rem;
	--h3: 2rem;
	--h4: 1.8rem;
	--h5: 1.6rem;
	--h6: 1.4rem;

	--black: #081F37;
	--blue: #8DC6FF;
	--red: #F64662;
	--white: #fff;
	--grey: #8d8d8d;
	--green: #a4da93;
	--light-blue: #e4f1ff;
	--dark-blue: #0980FF;

	--space-1: 1rem;
	--space-2: 2rem;
	--space-3: 3rem;
	--space-4: 4rem;
}

html { font-size: 62.5%; }

body {
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 1.8em;
	letter-spacing: 0.2px;
	color: var(--black);
}

p { line-height: 1.6; }

a {
	text-decoration: none;
	color: var(--dark-blue);
}

a.is-active {
	color: var(--dark-blue);
	border-bottom: 1px solid var(--blue);
}

a.logo-link {
	color: var(--black);
	border-bottom: 0;
	font-weight: 700;
}

h1 { font-size: var(--h1); }
h2 { font-size: var(--h2); }
h3 { font-size: var(--h3); }
h4 { font-size: var(--h4); }
h5 { font-size: var(--h5); }
h6 { font-size: var(--h6); }

h1, h2, h3, h4, h5, h6 { font-weight: 400; }

h1:first-child { margin-top: 0; }

b, .bold { font-weight: 400; }

.default-font { font-family: var(--font-family); }
.code-font { font-family: var(--code-font-family); }

.container {
	extend: .mx-auto, .mt0;

	max-width: 1024px;
}
