.underline {
	border-bottom: 1px inset;

	/* override basscss default */
	text-decoration: none !important;
}

/* Widths */

.w300 { width: 300px; }
.w400 { max-width: 400px; }
.w200 { width: 200px; }
.w128 { width: 128px; }
.w28 { width: 28px; }

/* Custom Margins */

.mt6 { margin-top: 6rem; }
.mb6 { margin-bottom: 6rem; }
.mt8 { margin-top: 8rem; }
.mt10 { margin-top: 10rem; }
.mb04 { margin-bottom: .4rem; }
